{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <title>Password Recovery</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'style_recovery.css' %}"
    />
  </head>
  <body>
    <div class="container">
      <h2>Password Recovery</h2>
      <form
        method="POST"
        action="{% url 'recovery_password' reset_token=reset_token %}"
      >
        {% csrf_token %}

        <label for="password">New Password</label>
        <input type="password" id="password" name="password" required />
        <button type="submit">Reset Password</button>
      </form>
      <div class="error-message">
        {% if error_message %}
        <p>{{ error_message }}</p>
        {% endif %}
      </div>
      <a href="{% url 'login' %}">Back to Login</a>
    </div>
  </body>
</html>
